@page
@model IndexModel
@{
    ViewData["Title"] = "Donations";
}



<div class="text-start" style="margin-left:64px">
    <h1 class="display-6" style="font-family:'Cormorant'">Donations</h1>
    <p style="font-size:24px; font-family:'Cormorant'">Support our mission</p>
    <div class="donate-content" style="margin-left:16px; max-width:480px">
        <h2 class="display-6" style="font-size: 36px; font-family:'Cormorant'">Vision</h2>
        <p style="font-size:16px">Every week, This Week’s Story brings stories from American history and the Bible that inspire children, teens, and adults to have courage and to seek truth.  Questions are stimulated; insight grows; and lessons from the past help the present. </p>
        <br />
        <h2 class="display-6" style="font-size: 36px; font-family:'Cormorant'">Why Donate?</h2>
        <p style="font-size:16px">Your support allows us to continue providing research based stories to a growing audience of curious minds.  With your donations, we can:</p>
        <ul>
            <li>
                <p style="font-size:16px">Extend our reach by partnering with radio stations across the country as well as websites around the world.</p>
            </li>
            <li>
                <p style="font-size:16px">Build our social media presence to ensure our stories can be seen by people of all demographics.</p>
            </li>
            <li>
                <p style="font-size:16px">Open doors with the translation of our stories into Spanish.</p>
            </li>
        </ul>
        <p style="font-size:16px">Every donation - big or small - makes a lasting impact! Together, we can ensure that powerful stories continue to be told and shared for generations to come.</p>
    </div>
    <div class="donation-card">

    </div>
</div>
